* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

.logo-img {
    margin-top: 120px;
    width: 300px;
}

.search-input {
    display: block;
    width: 400px;
    margin: 20px auto;
    /* height: 24px; not preferred */
    line-height: 24px;
    padding: 10px 30px;
    border-radius: 24px;
    border: 1px solid #c7c9ce;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 30px 4px 0;
    background: #dfe1df;
    border: none;
    font-family: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 16px;
}