* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

.logo-img {
    width: 400px;
}

.text-input {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.buttons {
    display: flex;
    margin: 0 auto;
    display: block;
}
