* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

.logo-img {
    margin-top: 120px;
    width: 400px;
}

.text-input {
    display: block;
    width: 500px;
    margin: 25px auto;
}

.buttons {
    display: flex;
    margin: 0 auto;
    display: block;
}

.btn {
    margin: 0 12px;
    background: #eee;
    border: none;
    font-family: 14px;
}